
<button (click)="setColor({color: '#007bff', nome: 'Azul'})" type="button" class="btn btn-primary">Blue</button>
<button (click)="setColor({color: '#6c757d', nome: 'Cinza'})" type="button" class="btn btn-secondary">Gray</button>
<button (click)="setColor({color: '#28a745', nome: 'Verde'})" type="button" class="btn btn-success">Green</button>
<button (click)="setColor({color: '#dc3545', nome: 'Vermelho'})" type="button" class="btn btn-danger">Red</button>
<button (click)="setColor({color: '#ffc107', nome: 'Laranja'})" type="button" class="btn btn-warning">Orange</button>
<button (click)="setColor({color: '#23272b', nome: 'Preto'})" type="button" class="btn btn-dark">Black</button>
