<!--The content below is only a placeholder and can be replaced.-->
<div class="container">
  <h1 class="text-light" [style.backgroundColor]="color.color">Cor Atual ===>>>> {{ color.nome }}</h1>
  <br />
  <div class="form-group">
    <label for="teste">Nome</label>
    <input id="teste" type="text" class="form-control" >
  </div>

  <hr>
  
  <curso-variaveis
  (color)="emitter($event)"
  [title]="title"
  [colorAtual]="color" [nomeColor] = "nomeColor"
  (click)="nomeColor = getColor()">  
  </curso-variaveis>
  
  <hr>

  <curso-dia4></curso-dia4>

<!--   <hr>
  
  <div class="row">
    {{conjunto[0]?.label}}    
  </div>

  <div class="row">
    <table class="table">
      <thead>
        <tr>
          <th>nome</th>
          <th>indice</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let conj of conjunto; index as i">
          <td>{{i}}</td>
          <td>{{conj.label}}</td>
          <td></td>
        </tr>
      </tbody>
    </table>
  </div>
  
  <hr>

  <div [ngSwitch]="conjunto[1]?.label">
    <div *ngSwitchCase="'um'">um</div>
    <div *ngSwitchCase="'dois'">um</div>
    <div *ngSwitchDefault>tres</div>
  </div> -->

  <hr>

  <div class="col-6 text-center my-5" [ngClass]="defineTipoClass()">
    NG Class
  </div>

  <div>
    <span style="color: aqua;" [ngStyle]="getStyle()">Estilo</span>
  </div>

  <hr>

  <div cursoTeste>
    Diretiva => cursoTeste
  </div>
  <div cursoTeste>
    Diretiva => cursoTeste 2
  </div>

</div>
